body {
	background-color: lightblue;
	background-image: url(gambar/bg1.png);
	/*background-repeat: no-repeat;*/
	background-position: center/center;
} 

p {
	color: purple;
	text-transform: capitalize;
}